body{
    width: 1440px;
    height: 2212px;
    background-color: #F0F0F0;
}

#rectangle{
    width: 860px;
    height: 2092px;
    margin-top: 60px;
    margin-left: 291px;
    border-radius: 12px;
    background-color: #FFFFFF;
    
}