body{
    position: absolute;
    width: 1440px;
    height: 2212px;
    left: 0px;
    top: 0px;
    overflow-y: scroll;
    background-color: #F0F0F0;
}

#retangulo{
    position: absolute;
    width: 860px;
    height: 2092px;
    top: 60px;
    left: 291px;
    border-radius: 12px;
    background-color: #FFFFFF;
    
}

#retangulo_dois{
    position: absolute;
    width: 618px;
    height: 4px;
    left: 350px;
    top: 158px;
    margin-top: 10px;

    background-color: #1B50B6;
}

#retangulo_tres{
    position: absolute;
    width: 616px;
    height: 1px;
    left: 350px;
    top: 444px;
    margin-top: 20px;

    background-color: #C4C4C4;
}

#retangulo_quatro{
    position: absolute;
    width: 616px;
    height: 1px;
    left: 350px;
    top: 627px;
    margin-top: 20px;

    background-color: #C4C4C4;
}

#retangulo_cinco{
    position: absolute;
    width: 860px;
    height: 1129px;
    left: 290px;
    top: 60px;

    background: #FFFFFF;
    border-radius: 12px;
}

#retangulo_seis{
    position: absolute;
    width: 616px;
    height: 1px;
    left: 350px;
    top: 1047px;
    margin-top: 20px;

    background-color: #C4C4C4;
}

#retangulo_sete{
    position: absolute;
    width: 616px;
    height: 1px;
    left: 350px;
    top: 1227px;
    margin-top: 20px;

    background-color: #C4C4C4;
}

#retangulo_oito{
    position: absolute;
    width: 616px;
    height: 1px;
    left: 350px;
    top: 1647px;
    margin-top: 20px;

    background-color: #C4C4C4;
}

#retangulo_nove{
    position: absolute;
    width: 616px;
    height: 1px;
    left: 350px;
    top: 1827px;
    margin-top: 20px;

    background-color: #C4C4C4;
}

h1{
    position: absolute;
    width: 364px;
    height: 37px;
    left: 350px;
    top: 111px;
    color: #1B50B6;


    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500px;
    font-size: 32px;
    line-height: 37px;
}

#matematica h2{
    position: absolute;
    width: 351px;
    height: 28px;
    left: 350px;
    top: 234px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

#historia h2{
    position: absolute;
    width: 307px;
    height: 28px;
    left: 350px;
    top: 834px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

#geografia h2{
    position: absolute;
    width: 329px;
    height: 28px;
    left: 350px;
    top: 1434px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

#mensagem_um h2{
    position: absolute;
    width: 546px;
    height: 28px;
    left: 350px;
    top: 270px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    
}

#mensagem_dois h2{
    position: absolute;
    width: 469px;
    height: 18px;
    left: 486px;
    top: 1111px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;

}

#questao_um h3{
    position: absolute;
    width: 633px;
    height: 18px;
    left: 350px;
    top: 286px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

}

#questao_dois h3{
    position: absolute;
    width: 633px;
    height: 18px;
    left: 350px;
    top: 469px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

}

#questao_tres h3{
    position: absolute;
    width: 633px;
    height: 18px;
    left: 350px;
    top: 652px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

#questao_quatro h3{
    position: absolute;
    width: 633px;
    height: 18px;
    left: 350px;
    top: 886px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

#questao_cinco h3{
    position: absolute;
    width: 633px;
    height: 18px;
    left: 350px;
    top: 1069px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

#questao_seis h3{
    position: absolute;
    width: 633px;
    height: 18px;
    left: 350px;
    top: 1252px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

#questao_sete h3{
    position: absolute;
    width: 633px;
    height: 18px;
    left: 350px;
    top: 1486px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

#questao_oito h3{
    position: absolute;
    width: 633px;
    height: 18px;
    left: 350px;
    top: 1669px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

#questao_nove h3{
    position: absolute;
    width: 633px;
    height: 18px;
    left: 350px;
    top: 1852px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

#radio_um{
    position: absolute;
    top: 319px;
    left: 353px;
    margin-top: 10px;
    margin-left: 2px;
}

#radio_dois{
    position: absolute;
    top: 502px;
    left: 353px;
    margin-top: 10px;
    margin-left: 2px;
}

#radio_tres{
    position: absolute;
    top: 685px;
    left: 353px;
    margin-top: 10px;
    margin-left: 2px;
}

#radio_quatro{
    position: absolute;
    top: 919px;
    left: 353px;
    margin-top: 10px;
    margin-left: 2px;
}

#radio_cinco{
    position: absolute;
    top: 1102px;
    left: 353px;
    margin-top: 10px;
    margin-left: 2px;
}

#radio_seis{
    position: absolute;
    top: 1285px;
    left: 353px;
    margin-top: 10px;
    margin-left: 2px;
}

#radio_sete{
    position: absolute;
    top: 1519px;
    left: 353px;
    margin-top: 10px;
    margin-left: 2px;
}

#radio_oito{
    position: absolute;
    top: 1702px;
    left: 353px;
    margin-top: 10px;
    margin-left: 2px;
}

#radio_nove{
    position: absolute;
    top: 1885px;
    left: 353px;
    margin-top: 10px;
    margin-left: 2px;
}

#lbl_um{
    position: absolute;
    width: 700px;
    height: 18px;
    left: 24px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

#lbl_dois{
    position: absolute;
    width: 700px;
    height: 18px;
    left: 24px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

#lbl_tres{
    position: absolute;
    width: 700px;
    height: 18px;
    left: 24px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

#btn_submit{
    position: absolute;
    width: 235px;
    height: 56px;
    left: 843px;
    top: 2042px;

    background: #1B50B6;
    border-radius: 8px;
}

#btn_gabarito{
    position: absolute;
    width: 235px;
    height: 56px;
    left: 603px;
    top: 983px;

    background: #FFFFFF;
    border: 1px solid #1B50B6;
    box-sizing: border-box;
    border-radius: 8px;
}

#div_submit h3{
    position: absolute;
    width: 47px;
    height: 18px;
    left: 937px;
    top: 2061px;
    margin-top: 2px;

    color: #918d8d;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

}

#gabarito h3{
    position: absolute;
    width: 95px;
    height: 18px;
    left: 673px;
    top: 1002px;
    margin-top: 2px;

    color: #1B50B6;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

#div_cancel #cancel{
    text-decoration: none;
    position: absolute;
    width: 65px;
    height: 18px;
    left: 706px;
    top: 2061px;

    color: #1B50B6;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

#div_voltar #voltar{
    position: absolute;
    width: 47px;
    height: 18px;
    left: 358px;
    top: 2059px;

    color: #1B50B6;

    font-family: Ubuntu;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;

}

#grafico{
    height: 530px;
    width: 530px;
    margin-top: 530px;
    margin-left: 150px;
}

#mensagemResultado h1{
    position: absolute;
    width: 541px;
    height: 55px;
    left: 350px;
    top: 180px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
}

#mensagemResultado h2{
    position: absolute;
    width: 541px;
    height: 55px;
    left: 840px;
    top: 173px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
}

#mensagemResultado h3{
    position: absolute;
    width: 541px;
    height: 55px;
    left: 900px;
    top: 163px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
}

#mensagemResultado h4{
    position: absolute;
    width: 541px;
    height: 55px;
    left: 858px;
    top: 150px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
}

#resposta_um h1{
    position: absolute;
    width: 700px;
    height: 18px;
    left: 375px;
    margin-top: 235px;

    color: #1B50B6;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

#resposta_dois_um h1{
    position: absolute;
    width: 700px;
    height: 18px;
    left: 375px;
    margin-top: 235px;

    color: #1B50B6;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

#resposta_dois_dois h1{
    position: absolute;
    width: 700px;
    height: 18px;
    left: 375px;
    margin-top: 270px;

    color: #fa0606;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

#resposta_dois_tres h1{
    position: absolute;
    width: 700px;
    height: 18px;
    left: 375px;
    margin-top: 305px;

    color: #222222;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}

#resposta_tres h1{
    position: absolute;
    width: 700px;
    height: 18px;
    left: 375px;
    margin-top: 235px;

    color: #fa0606;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}